body {
    background: #F0F0F0;
    margin-top: 50px;
    margin-left: 100px;
    font-family: COMIC SANS MS;
}
a:link {
    color:  #77C277;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #77C277;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: black ;
    background-color: transparent;
    text-decoration: underline;

  }
  
  a:active {
    color: #F0F0F0 ;
    background-color: transparent;
    text-decoration: underline;
  } 
  